html {
    overflow-y: scroll;
    font-family: "Computer Modern Sans", sans-serif;
}
div.container {
    max-width: 550px;
    margin: 1rem auto 0 auto;
    padding: 10px 10px 50px 10px;
    font-size: 1.05rem;
    line-height: 1.4rem;
}
div.picture-container {
    text-align: center;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
}
img {
    max-width: 600px;
    width:  100%;
}
a {
    color: #de4e69;
}
p.name {
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0;
}
p.name a{
    color: black;
    text-decoration: none;
}
p.nav {
    font-size: .95rem;
    text-align: center;
    margin-top: 0;
}
.active {
    color: black;
    text-decoration: none;
}
div.separator {
    height: 1rem;
}