html {
    overflow-y: scroll;
    font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
    font-weight: 300;
}
div.container {
    max-width: 550px;
    margin: 1rem auto 0 auto;
    padding: 10px 10px 50px 10px;
    font-size: 1.05rem;
    line-height: 1.4rem;
}
div.picture-container {
    text-align: center;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
}
img {
    max-width: 250px;
}
@media (max-width: 768px) {
    img {
        max-width: 200px;
    }
}
a {
    color: #0000FF;
    text-decoration: none;
    transition: text-decoration 0.2s;
}
a:hover, a:active {
    text-decoration: underline;
}
p.name {
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0;
}
p.name a{
    color: black;
    text-decoration: none;
}
p.nav {
    font-size: .95rem;
    text-align: center;
    margin-top: 0;
}
.active {
    color: black;
    text-decoration: none;
}
div.separator {
    height: 1rem;
}
.intro p {
    text-align: justify;
}
.papers-list {
    margin: 0;
    padding: 0;
}
.paper-item {
    margin-bottom: 20px;
    font-size: 1.04rem;
}
.paper-item a {
    color: #0000FF;
    font-weight: normal;
    text-decoration: none;
    font-size: 1.08rem;
}
.paper-item a:hover, .paper-item a:active {
    text-decoration: underline;
}
.papers-title {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 12px;
}
.papers-block {
    margin-top: 32px;
}
.papers-block.other-interest .papers-title .papers-list .paper-item {
    font-size: 0.95rem;
    margin-bottom: 4px;
}
.other-interest-list {
    margin: 0;
    padding: 0;
}
.other-interest-item {
    font-size: 0.95rem;
    margin-bottom: 3px;
    line-height: 1.3;
}